{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

<html>
    <head>

  {% block title %}
    <title>Bass Culture</title>
  {% endblock %}

</head>


{% block bootstrap3_content %}
    <div class="container">

        <p>
            <a href="{% url 'item-list' %}">items</a>
            <a href="{% url 'source-list' %}">sources</a>
            <a href="{% url 'author-list' %}">authors</a>

        </p>

    </div>
{% endblock %}
        
    </head>
    <body>
    {% block body %}

    {% endblock %}
    </body>
</html>